@font-face {
  font-family: Rubik;
  src: url(/frontend/assets/fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --background-color-dark: #313E51;
  --background-color-light: #F4F6FA;
  --clr-dark: #fff;
  --clr-light: #3B4D66;
  --light-blue: #ABC1E1;
  --html-orange: #FFF1E9;
  --css-green: #E0FDEF;
  --js-blue: #EBF0FF;
  --accessibility-purple: #F6E7FF;
  --gray-navy: #626C7F;
  --drop-shadow: #edf1f9;
  --purple-color: #A729F5;
  --correct-answer: #26D782;
  --incorrect-answer: #EE5454;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-dark);
  font-family: Rubik, sans-serif;
}

li {
  list-style-type: none;
}

button {
  border: none;   
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.toggler {
  background-color: inherit;
  border: none;
  outline: none;
  transform: translateY(2px);
  cursor: pointer;
  transition: transform 0.2s;
}

.toggler:focus-visible {
  border: 1px solid white;
  border-radius: 8px;
  height: 22px;
}

.validate {
  margin-left: auto;
  visibility: 0;
  opacity: 0;
}

.correct-answer {
  border: 2px solid var(--correct-answer);

  .img-wrapper {
    background-color: var(--correct-answer);
    color: var(--clr-dark);
  }
}

.incorrect-answer {
  border: 2px solid var(--incorrect-answer);

  .img-wrapper {
    background-color: var(--incorrect-answer);
    color: var(--clr-dark);
  }
}

/* Progress bar styles */
.container {
  margin: 2rem 0;
  width: 100%;
  height: 15px;
  background-color: var(--clr-light, #3B4D66);
  border-radius: 8px;
  padding: 5px 4px;
  display: flex;
  align-items: center;
}

.progress-fill {
  height: 8px;
  background-color: var(--purple-color, #A729F5);
  border-radius: 4px;
  width: 0;
  transition: width 400ms ease-in;
}

.score__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  border-radius: 2rem;
  padding: 3rem;
  margin-bottom: 2rem;
  background-color: var(--clr-light);

  .category-description {
    margin-left: 0;
    color: var(--clr-dark);
    font-size: 1.5rem;
  }

  .score {
    font-size: 128px;
    font-weight: 600;
    color: var(--clr-dark);
  }
  
  .total__score {
    font-size: 2rem;
    color: var(--light-blue);
  }
}

.main__left h2 {
  color: var(--clr-dark);
  font-size: 4rem;
  font-weight: 300;
}

.main__left {
    margin: 3rem 0 4rem 0;
  }

.main__left h3 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--clr-dark);
}

/* Animate the toggling of themes */
.toggler .movable.toggle {
  transform: translateX(-12px);
}

.movable {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
/* ------------------------------ */

/* Light mode classes */
.main-light {
  background-color: var(--background-color-light);
}

body.main-light {
  --clr-light: #fff;
}

body.main-light .main__heading {
  color: var(--background-color-dark);
}

body.main-light p {
  color: #3B4D66;
}

body.main-light .button__group {
  background-color: var(--clr-dark);
  filter: drop-shadow(1px 2px 5px var(--drop-shadow));
  
  span {
    color: var(--background-color-dark);
  }

}

body.main-light h2 {
  color: #3B4D66;
}

body.main-light h3 {
  color: #3B4D66;
}

body.main-light .score {
  color: #3B4D66;
}

body.main-light .total__score {
  color: var(--gray-navy);
}

body.main-light .progress-display {
  color: #3B4D66;
}

/* ------------------- */
.wrapper .main__heading {
  color: var(--clr-dark);
  font-size: 2.5rem;
  font-weight: 100;

  .bold {
    font-weight: 500;
  }
}

.wrapper p {
  color: var(--light-blue);
  margin: 1rem 0 3rem 0;
  font-size: 14px;
  font-style: italic;
}

.progress-display {
  color: var(--light-blue);
  font-size: 16px;
  font-style: italic;
  margin-bottom: 2.5rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-block: 26px;

  img {
    width: 20px;
    height: 20px;
  }
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button__group {
  width: 100%;
  background-color: var(--clr-light);
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }

  span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }
}

.img-wrapper {
    width: 56px;
    height: 56px;
    background-color: var(--background-color-light);
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 12px;
    flex-shrink: 0;

    img {
      width: 36px;
      height: 36px;
    }
  }

  .category-description h2 {
    font-size: 2.2rem;
  }

  .description {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .category-description {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

/* Utility */
.orange {
  background-color: var(--html-orange);
}

.green {
  background-color: var(--css-green);
}

.blue {
  background-color: var(--js-blue);
}

.purple {
  background-color: var(--accessibility-purple);
}

.bold-big {
  font-size: 28px;
  font-weight: 600;
  color: var(--background-color-dark)
}

.isSelected {
  border: 2px solid var(--purple-color);

  .img-wrapper {
    background-color: var(--purple-color);
    color: var(--clr-dark);
  }
}

.error {
  color: var(--incorrect-answer);
  font-size: 18px;
}

.error-mark {
  width: 32px;
  height: 32px;
}

.error__field {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ------- */

.main__overlay-mobile img,
.main__overlay-tablet img,
.main__overlay-desktop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
/* Mobile */
.main__overlay-tablet, .main__overlay-desktop {
  display: none;
}

.main__overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Tablet */
@media (min-width: 640px) {
  /* Overlay */
  .main__overlay-desktop, .main__overlay-mobile {
    display: none;
  }

  .container {
    margin: 2.5rem 0 4rem 0;
  }

  body {
    overflow: auto;
  }

  .score__box {
    margin-bottom: 2rem;
  }

  .main__overlay-tablet {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .wrapper .main__heading {
    font-size: 3rem;
    font-weight: 100;
    margin-top: 3.5rem;

    .bold {
      font-weight: 500;
    }
  }

  .wrapper p {
    font-size: 18px;
  }

  .main__left {
    margin: 3rem 0 4rem 0;
  }

  .button__group {
    padding: 12px;
    border-radius: 2rem;
  }

  .img-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 12px;

    img {
      width: 36px;
      height: 36px;
    }
  }

  .category-description h2 {
    font-size: 2.2rem;
  }
}

/* Desktop */
@media (min-width: 1080px) {
  /* Overlay */
  .main__overlay-tablet, .main__overlay-mobile {
    display: none;
  }

  body {
    overflow: hidden;
  }

 .main__content {
    display: flex;
    justify-content: space-around;
}

  .wrapper .main__heading {
    font-size: 4rem;
    font-weight: 100;
    margin-top: 0;

    .bold {
      font-weight: 500;
    }
}

.toggle-container img {
  width: 24px;
  height: 24px;
}

.main__left {
  width: 600px;
  margin: 0;
}

.category-description {
  margin-left: 6rem;
}

.container {
  margin-top: 4rem;
}

.score__box {
  width: calc(564px - 3rem);
}

.button__group {
  width: 650px;
  padding: 15px;
}

  .wrapper p {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .theme-toggle {
    margin: 6rem 6rem 6.2rem 0;
    gap: 16px;
  }

  .main__overlay-desktop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .img-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 12px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}